
<div id="bg" style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,5)), url(''), background-size: cover;"><%= cl_image_tag("https://res.cloudinary.com/do6bcfrqi/image/upload/v1573186701/cocktails/tori_tpovdh.jpg") %><h1>Cocktails#index</h1></div>

<p id="notice"><%= notice %></p>



<div class="cards" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));">
<% @cocktails.each do |cocktail| %>
  <%= cl_image_tag cocktail.photo  unless cocktail.photo.blank? %>
  <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
<% end %>
</div>
<div class="navbar">
<%= link_to 'New cocktail', new_cocktail_path %>
</div>
